<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weili.practice" >

    <application
        android:name="com.application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SnackbarActivity"
            android:label="@string/title_activity_snackbar" >
        </activity>
        <activity
            android:name=".BarrageActivity"
            android:label="@string/title_activity_barrage" >
        </activity>
        <activity
            android:name=".CavaActivity"
            android:label="@string/title_activity_cava" >
        </activity>
        <activity
            android:name=".ScorActivity"
            android:label="@string/title_activity_scor" >
        </activity>
        <activity
            android:name=".RxJavaActivity"
            android:label="@string/title_activity_rx_java" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".RadialActivity"
            android:label="@string/title_activity_radial" >
        </activity>
        <activity
            android:name=".SweepGradientActivity"
            android:label="@string/title_activity_sweep_gradient" >
        </activity>
        <activity
            android:name=".RefWatcherActivity"
            android:label="@string/title_activity_ref_watcher" >
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name=".FragmentActivity"
            android:label="@string/title_activity_fragment" >
        </activity>
    </application>

</manifest>
